@model CRVS.Core.Models.District
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div class="card">
    <div class="card-header">
        District Informations

    </div>
    <div class="card-body">

        <table class="table table-bordered table-striped">
            <tr>
                <td>
                    <label asp-for="DistrictName"></label>
                </td>
                <td>
                    @Model.DistrictName
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="DistrictId"></label>
                </td>
                <td>
                    @Model.DistrictId
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" class="btn btn-success" value="Create" />
                    <a asp-action="Index" asp-controller="District" class="btn btn-warning">
                        Cancel
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <div class="card-footer">
        <a asp-action="Index" asp-controller="District" class="btn btn-outline-dark">
            back to District List

        </a>
    </div>
</div>

