@model CRVS.Core.Models.Job
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div class="card">
    <div class="card-header">
        Job Informations

    </div>
    <div class="card-body">

        <table class="table table-bordered table-striped">
            <tr>
                <td>
                    <label asp-for="JobName"></label>
                </td>
                <td>
                   @Model.JobName
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="JobId"></label>
                </td>
                <td>
                    @Model.JobId
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" class="btn btn-success" value="Create" />
                    <a asp-action="Index" asp-controller="Job" class="btn btn-warning">
                        Cancel
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <div class="card-footer">
        <a asp-action="Index" asp-controller="Job" class="btn btn-outline-dark">
            back to Job List

        </a>
    </div>
</div>

