@model CRVS.Core.Models.Religion
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<form method="post" asp-action="Edit" asp-controller="Religion">
    <input type="hidden" asp-for="ReligionId" />
    <table class="table table-bordered table-striped">
        <tr>
            <td>
                <label asp-for="ReligionName"></label>
            </td>
            <td>
                <input asp-for="ReligionName" class="form-control" placeholder="Enter Name" />
                <span class="text-danger" asp-validation-for="ReligionName"></span>

            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" class="btn btn-success" value="Update" />
                <a asp-action="index" asp-controller="Religion" class="btn btn-warning">
                    cancel
                </a>
            </td>
        </tr>

    </table>
</form>

