@model CRVS.Core.Models.Doh
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<form method="post" asp-action="Edit" asp-controller="Doh">
    <input type="hidden" asp-for="DohId" />
    <table class="table table-bordered table-striped">
        <tr>
            <td>
                <label asp-for="DohName"></label>
            </td>
            <td>
                <input asp-for="DohName" class="form-control" placeholder="Enter Name" />
                <span class="text-danger" asp-validation-for="DohName"></span>

            </td>
        </tr>
        
        <tr class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
            </label>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" class="btn btn-success" value="update" />
                <a asp-action="index" asp-controller="Doh" class="btn btn-warning">
                    cancel
                </a>
            </td>
        </tr>

    </table>
</form>

