@model CRVS.Core.Models.Governorite
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<form method="post" asp-action="Create" asp-controller="Governorite">

    <table class="table table-bordered table-striped">
        <tr>
            <td>
                <label asp-for="GovernoriteName"></label>
            </td>
            <td>
                <input asp-for="GovernoriteName" class="form-control" placeholder="Enter Name" />
                <span class="text-danger" asp-validation-for="GovernoriteName"></span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" class="btn btn-success" value="Create" />
                <a asp-action="Index" asp-controller="Governorite" class="btn btn-warning">
                    Cancel
                </a>
            </td>
        </tr>
    </table>

</form>

